<div class="container-fluid no-padding masthead-background background" {{#if @blog.cover}}style="background-image: url('{{@blog.cover}}');"{{/if}}>
    <div class="container container-mast margin-bottom">
        <div class="margin-bottom">
            <div class="row-fluid text-center masthead-title">
                <h1>{{@blog.title}}</h1>
                <h4>{{@blog.description}}</h4>
            </div>
            <div class="row masthead-social text-center margin-bottom">
                <a href="#">
                    <i class="btn fa fa-linkedin linkedin"></i>
                </a>
                <a href="//github.com/Elystus">
                    <i class="btn fa fa-github github"></i>
                </a>
                <a href="mailto:elystus@gmail.com">
                    <i class="btn fa fa-envelope send"></i>
                </a>
            </div>
        </div>
    </div>
</div>
