<div class="screen-size container-fluid no-padding">
    <div class="screen-size well well-inverse text-center flex flex-row no-padding background" {{#if @blog.cover}}style="background-image: url('{{@blog.cover}}');"{{/if}}>
        <div class="content flex flex-vertical-center">
            <div class="container-fluid">
                <div class="row">
                    {{#if @blog.logo}}
                    <div class="blog-logo">
                            <img src="{{@blog.logo}}" class="img-responsive img-rounded img-height-inherit center-block" />
                    </div>
                    {{/if}}
                </div>
                <div class="row masthead-title">
                    <h1>{{@blog.title}}</h1>
                    <h4>{{@blog.description}}</h4>
                </div>
            </div> 
        </div>
        <div class="container-fluid footer no-margin no-padding masthead-navigation">
            <a href="#posts" class="blog-skip">
                <i class="glyphicon glyphicon-menu-down"></i>
            </a>
        </div>
    </div>
</div>
