<div class="placeholder">
    <div id="blog-menu" class="brand-hidden blog-menu-inline blog-menu">
        <nav class="blog-menu-inverse"> 
            <div class="wrapper"> 
                <div id="blog-brand" class="blog-brand">
                    <a href="{{@blog.url}}">
                        <span class="blog-logo" style="background-image: url('{{@blog.logo}}');"></span>
                        <span class="blog-title">Elystus</span>
                    </a>
                </div>
                <div id="dropdown-toggle"class="blog-menu-button">
                    <span class="icon-menu"></span>
                </div>
            </div>
        </nav>
        <div id="dropdown-menu" class="blog-menu-container blog-menu-dropdown">
            <div class="wrapper">
                <a href="http://www.elyst.us">Home</a>
                <a href="http://www.elyst.us/about">About</a>
                <a href="http://www.elyst.us/projects">Projects</a>
                <a href="http://www.elyst.us/contact">Contact</a>
            </div>
        </div>
    </div>
</div>