{{!< default}}

{{! Include the site masthead - partials/masthead.hbs}}
{{> "masthead"}}
{{> navigation}}

{{! Page Content}}
<main id="content" class="content" role="main">

    {{! List Posts - partials/loop.hbs }}
    {{> "loop"}}

</main>
