{{!< default}}

{{! Include the blog masthead - partials/masthead.hbs}}

{{> "masthead"}}
<div class="brand-hidden blog-menu-inline">
    {{> navigation}}
</div>

{{! Page Content}}
<main id="content" class="content" role="main">

    {{! List Posts - partials/loop.hbs }}
    {{> "loop"}}

</main>
