{{!< default}}

{{! Include the blog masthead - partials/masthead.hbs}}

<div id="blog-masthead">
    {{> "masthead_index"}}
</div>

{{> navigation}}

{{! Page Content}}
<main id="content" class="content" role="main">

    {{! List Posts - partials/loop.hbs }}
    {{> "loop"}}

</main>
