@media only screen and (max-width: 860px) {
    div.wrapper {
        max-width: 680px;
    }
}

@media all and (max-width: 680px) {
    div.wrapper {
        max-width: 620px !important;
        width: auto;
        margin: 0 auto;
        padding: 0 15px;
    }
    .blog-menu .wrapper {  padding: 0; }
    
    .post p { font-size: 16px; }
    .post blockquote { margin: 18px 6px; }
    .post code { margin: 18px 6px; }
    
    .post ul { margin: 0 12px 18px; }
    .post ul > li { margin-bottom: 2px; }
    .post ul > li > ul { margin: 0 12px 3px;}
    
    .pagination .older-posts, .pagination .newer-posts {
        position: static;
    }
    .pagination .older-posts, .pagination .newer-posts {
        display: block;
        padding: 4px 0;
        color: #fff;
        font-size: 14px;
        background: #0099CC;
    }
    .pagination .older-posts { margin-top: 8px; }
    .pagination .newer-posts { margin-bottom: 8px; }
}