/*
 *  Author: Elystus <elystus@gmail.com>
 *  Version: v0.0.1
 *  Description: Custom CSS theme for Ghost blogging platform
 */

/* Import Font */
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

/*  ___________________
 *  || ~ CSS Index ~ ||
 *  ~~~~~~~~~~~~~~~~~~~
 *  1. General Styling
 *  2. Global Classes
 *  3. Specific Styling
 *      3a. SiteMasthead
 *      3b. Site Menu
 *      3c. Posts
 */

/* ~ 1. General styling ~
 * Style resets and body styling
 */
.clearfix {
   clear:both;
}

*, *:focus {
    border: 0;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a {
    color: #0099CC;
    text-decoration: none;
}

a:hover {
    color: #00BFFF;
}

a, a:hover {
    transition: .3s ease all;
}

body {
    font-family: 'Oxygen', sans-serif;
    color: #3e3e3e;
}


/* ~ 2. Global Classes ~
 * Styles the don't inherit to a single class or set of classes
 */
.wrapper {
    width: 720px;
    margin: 0 auto;
}

.blog-logo {
    display: block;
    background-size: cover;
}

/* 3a. Site Masthead */
.blog-masthead {
    padding: 60px 0 50px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #333;
}

.blog-masthead .blog-logo {
    margin-bottom: 18px;
}

.blog-masthead .blog-logo > a.blog-logo {
    margin: 0 auto;
    height: 140px;
    width: 140px;
}

.blog-masthead .masthead-content { }
.blog-masthead .masthead-content > h1 {
    margin-bottom: 12px;
    font-size: 36px;
    letter-spacing: 1px;
}

.blog-masthead .masthead-content > h2 {
    font-size: 22px;
    font-weight: 400;
}

/* 3b. Site Menu */
.blog-menu {
    width: 100%;
    position: fixed;
    -webkit-box-shadow: 0px 1px 3px 0px #888;
    -moz-box-shadow: 0px 1px 3px 0px #888;
    box-shadow: 0px 1px 3px 0px #888;
    top: 0;
    background-color: rgba(255,255,255, 0.95);
        
}
.blog-menu-inline { 
    position: static;
    top: 0;
    width: 100%;
    overflow: hidden;
    clear: both;
}
.brand-hidden .blog-brand { display: none !important; }

.blog-menu-button {
    text-align: right;
    padding: 10px 0;
}
.blog-menu-button span.icon-menu {
    line-height: 40px;
    font-size: 32px;
    margin-right: 15px;
}

.placeholder {
    min-height: 60px;
}

.blog-menu .blog-brand {
    display: inline-block;
    float: left;
    height: 60px;
    padding: 8px 16px;
    box-sizing: border-box;
}
.blog-menu-inverse .blog-brand { background: #333; }

.blog-menu .blog-brand span.blog-logo {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: cover;
}

.blog-menu .blog-brand span.blog-title {
    display: inline-block;
    margin-left: 4px;
    font-size: 20px;
    line-height: 40px;
    vertical-align: top;
    transition: ease .3s all;
}
.blog-menu-inverse .blog-brand span.blog-title { color: #fff; }

.blog-menu .blog-menu-container {
    width: auto;
    display: flex; 
    justify-content: space-around;
}

.blog-menu .blog-menu-container > a {
    display: inline-block;
    padding: 0 22px;
    text-align: center;
    color: #333;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
}
.blog-menu .blog-menu-container a:hover { color: #0099CC; }

/* Dropdown Menu CSS */
.blog-menu-container.blog-menu-dropdown {
    display: none;
    background: #333;
    color: #fff;
}
.blog-menu-container.blog-menu-dropdown a {
    display: block;
    padding: 0 15px;
    text-align: left;
    color: inherit;
    height: 45px;
    line-height: 45px;
}
.blog-menu-container.blog-menu-dropdown a:hover { color: inherit; background: #0099CC;}

/* 3c. Posts */
.post-container { 
    margin: 60px 0 30px;
}

.post-item {
    margin-bottom: 45px;
}
.post-item:last-child { margin: 0; }

.post-item > .post-header {
    margin-bottom: 6px;
}

.post-item > .post-header h2 {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: .25px;
}

.post-item > .post-excerpt { }

.post-item > .post-excerpt p { 
    margin-bottom: 12px;
}

.post-item > .post-excerpt > a {
    display: block;
    text-align: center;
    width: auto;
    margin: 0 auto;
}
.post-item a.read-more {
    display: block;
    width: 100%;
    padding: 4px 0;
    background-color: #0099CC;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}
.post-item a.read-more:hover { background-color: #00BFFF; }

.post-item > .post-meta {
    margin-top: 12px;
    padding: 8px 0 0;
    overflow: hidden;
    border-top: 1px solid #ccc;
    clear: both;
}

.post-item > .post-meta div {
    float: left;
}

.post-item > .post-meta div p {
    line-height: 21px;
}

.post-item > .post-meta div.post-tags {
    float: right;
}

.post-item > .post-meta div.post-tags a {
    display: inline-block;
    padding: 2px 6px;
    font-size: 14px;
    background: #0099CC;
    color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}
.post-item > .post-meta div.post-tags a:hover {
    background: #00BFFF;
}

.pagination {
    position: relative;
    margin: 0 auto;
    padding: 18px;
    width: 80%;
    text-align: center;
}

.pagination .older-posts, .pagination .newer-posts {
    position: absolute;
}
.pagination .older-posts { right: 0; }
.pagination .newer-posts { left: 0; }


/* 3d. Post Page View */
.wrapper main.content {
    font-size: 18px;
}
main.content .post { margin-top: 45px; }

.post .post-header .post-title {
    font-size: 28px;
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.post .post-meta {
    margin-bottom: 12px;
    font-size: 16px;
}

.post .post-header {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.post img {
    display: block;
    margin: 12px auto;
    max-width: 100%;
    text-align: center;
}

.post hr {
    margin: 45px 0 35px;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.post p { 
    line-height: 24px;
    letter-spacing: .25px;
    margin-bottom: 18px;
}

.post blockquote {
    margin: 12px 20px;
    padding: 8px 12px;
    background: #fcfcfc;
    border-left: 8px solid #0099CC;
}

.post code {
    display: block;
    margin: 12px 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f3f3f3;
    overflow-x: auto;
    overflow-y: visible;
    letter-spacing: -.25px;
    font-size: 16px;
}

.post ul { margin: 0 30px 18px; }
.post ul > li { margin-bottom: 2px; }
.post ul > li > ul { margin: 0 18px 0px;}

.post h1 { font-size: 32px; }
.post h2 { font-size: 26px; }
.post h3 { font-size: 22px; }
.post h4 { font-size: 20px; }
.post h5 { font-size: 16px; font-weight: 400; }
.post h6 { font-size: 12px; font-weight: 400; }
.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
    margin: 28px 0 8px;
    letter-spacing: .5px;
}
.post p:last-child {margin: 0;}
.post h1:first-child, .post h2:first-child, .post h3:first-child, .post h4:first-child, .post h5:first-child, .post h6:first-child { margin-top: 0; }

.post-footer {
    margin-top: 35px;
    padding: 12px 0 0;
    border: 0;
    border-top: 1px dashed #ccc;
    clear: both;
    overflow: hidden;
}

.post-footer section.author { float: left; }
.post-footer section.author h5 { line-height: 22px; }

.post-footer nav.share { float: right; }
.post-footer nav.share a {
    padding-left: 12px;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}
.post-footer nav.share a:hover { color: #0099CC; }

/* 3f. Site Footer */
.blog-footer {
    margin-top: 35px;
    padding: 45px 0;
    font-size: 90.175%;
    background: #333;
    color: #fff;
    border-top: 3px solid #0099CC;
}

.blog-footer a {
    color: inherit;
}

.blog-footer a:hover {
    color: #00BFFF;
}

.blog-footer > .wrapper {
    text-align: center;
}

.blog-footer .logo-container {
    display: block;
    margin: 0 auto 12px;
    height: 48px;
    width: 48px;
    box-sizing: border-box;
}

.blog-footer .logo-container .blog-logo {
    display: block;
    height: 48px;
    width: 48px;
}

.blog-footer .copyright, .blog-footer .poweredby { display: block; }
.blog-footer .copyright { margin-bottom: 12px; }

.blog-footer section {
    margin-bottom: 4px;
    letter-spacing: .25px;
}
.blog-footer section:last-child {margin: 0;}

.page-header {
    padding: 60px 0 45px;
    text-align: center;
    -webkit-box-shadow: 1px 3px 4px 0px #888;
    -moz-box-shadow: 1px 3px 4px 0px #888;
    box-shadow: 1px 3px 4px 0px #888;
}
.page-header.inverse-header { background-color: #333;}
.page-header a.blog-logo {
    margin: 0 auto 5px;
    height: 120px;
    width: 120px;
}

.page-header h2.blog-title { 
    font-size: 24px;
    margin-bottom: 5px;
}
.page-header.inverse-header h2.blog-title{ color: #fff; }

.page-header a.return-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 8px 0;
    text-align: center;
    color: #fff;
    background-color: #0099CC;
}
.page-header a.return-btn:hover { background-color: #00BFFF; }


/* 5. Icons (Imported from Casper Theme) */
@font-face {
    font-family: "casper-icons";
    src:url("../fonts/casper-icons.eot?v=1");
    src:url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"),
        url("../fonts/casper-icons.woff?v=1") format("woff"),
        url("../fonts/casper-icons.ttf?v=1") format("truetype"),
        url("../fonts/casper-icons.svg?v=1#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "casper-icons", "Open Sans", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Each icon is created by inserting the correct character into the
   content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
    content: "\f600";
}
.icon-feed:before {
    content: "\f601";
}
.icon-twitter:before {
    content: "\f602";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\f603";
}
.icon-facebook:before {
    content: "\f604";
}
.icon-arrow-left:before {
    content: "\f605";
}
.icon-stats:before {
    content: "\f606";
}
.icon-location:before {
    content: "\f607";
    margin-left: -3px; /* Tracking fix */
}
.icon-link:before {
    content: "\f608";
}
.icon-menu:before {
    content: "\f609";
}